body{
  font:normal normal 400 12px/15px sans-serif;
  margin:0;
}

a {
  color:#0000ff;
  outline:none;
  text-decoration:underline;
}

a:link {
  color: #b2bb35;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.logo{
  background:url(logo1.png) no-repeat left top;
  display: inline-block;
  height:50px;
  left:0px;
  /*position:absolute;*/
  top:25px;
  width:204px;
  margin-top: 10px;
}

h1{
  /*font:normal normal 700 2em/2.1em 'sans-serif';*/
  font: normal 35px/38px 'Crimson Text';
  /*font:font-style | font-variant | font-weight | font-size | line-height | font-family*/
  /*margin:auto 0;*/
  padding:0;
  color: #b2bb35;
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

h2 {
  font: Bold 20px/26px 'Helvetica';
  /*font:font-style | font-variant | font-weight | font-size | line-height | font-family*/
  margin:0.83em 0;
  padding:0;
}

h3{
  font: Bold 16px/26px 'Helvetica';
  /*font:font-style | font-variant | font-weight | font-size | line-height | font-family*/
  margin:1em 0;
  padding:0;
}

img{
  border:0;
  display:block;
}

ol,ul{
  margin:1em 0;
  padding:0 0 0 1.25em;
}

p{
  margin:1em 0;
  padding:0;
}

button {
  background-color: #9A9A9A;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: Bold;
  border: 2px white solid;
  border-radius: 8px;
  transition: background-color 0.2s ease 0s;
  width: 100%;
  height: 70px;
}

button:hover {
  background-color: #424143;
}

#epAttention{
  width: 100%;
  position:relative;
  text-align: center;
  color:#d9d9d9;
  border-bottom: solid #d9d9d9 1px;
}

#epColumn1{
  margin-right:330px;
}

#epColumn2{
  float:right;
  width:31%;
  background-color: #b2bb35;
  color: #ffffff;
  border-radius: 8px;
  padding: 35px;
}

#epContent{
  clear:both;
  width: 70%;
  margin: auto;
}

#epEmergency{
  clear:both;
  margin: 10px auto;
  width: 70%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#epFooter{
  clear:both;
  margin: auto;
  width: 70%;
}

#epFooter a {
  color: #b2bb35
}

#epFooter .line1{
  float:left;
}

#epFooter .line2{
  float:right;
}

#epFooter th{
  display:none;
}

#epHeader {
  height:100px;
  position:relative;
  border-bottom: solid #d9d9d9 25px;
}

#epSubHeader {
  width: 70%;
  margin: auto;
}

#epNav{
  float:right;
  font:normal normal 400 12px/25px sans-serif;
  position:relative;
  right:0px;
  top:25px;
}

#epNav a{
  display:block;
  float:left;
  padding:0 20px;
}

#epNav a:link {
  color: #424143;
  font: normal 16px/26px 'Helvetica';
}

#epNav a:hover {
  color: #b2bb35;
}

#epWrapper{
  float:left;
  /*left:50%;
  margin-left:-480px;*/
  position:relative;
  width: 100%;
}

/*dp2*/

#epDataPrivacy .online,#epDataPrivacy .phone,#epDataPrivacy .output{
  display:none;
}

#epDataPrivacy ol.dropDowns{
  list-style:none;
  margin:0;
  padding:0;
}

#epDataPrivacy select{
  font:normal normal 400 12px/15px sans-serif;
  margin:0 0 1em 0;
  width:50%;
}

/*phone*/

#epPhone select{
  font:normal normal 400 12px/15px sans-serif;
  margin:0 0 1em 0;
  width:50%;
}

/*Issues*/

#epIssues{
  width:100%;
}

#epIssues .catdesc{
  display:none;
}

#epIssues .catname{
  font:normal normal 700 16px/20px sans-serif;
}

#epIssues .details{
  font:normal normal 400 12px/20px sans-serif;
  position:absolute;
  right:0;
  top:0;
}

#epIssues .issue{
  color:#0000ff;
  margin:10px 0;
  position:relative;
}

#epIssues .issue:hover{
  color:#008000;
}

#epIssues .name{
  font:normal normal 700 14px/20px sans-serif;
}

#epIssues .desc{
  padding:1em 0 0 0;
}

.bottom{
  margin-bottom:0;
  padding-bottom:0;
}

.footerLinkR {
  margin-right: 3px;
}

.footerLinkL {
  margin-left: 3px;
}

.listor{
  list-style:none;
  margin:1em 0;
}

.nowrap{
  white-space:nowrap;
}

.top{
  margin-top:0;
  padding-top:0;
}
